pretrained-jointly-TAP-model
pretrained-TAP-model
pretrained-model/zh/phoneme_model/*.bin
pretrained-model/en/BART/*.bin
pretrained-model/zh/BART/*.bin

data/zh/AIDATATANG
data/zh/MAGICDATA

# data/zh/AISHELL-1/audio-feature/wav2vec_feature.h5
# data/zh/AIDATATANG/audio-feature/wav2vec_feature.h5


