pretrained-jointly-TAP-model
pretrained-T-model
pretrained-TP-model
pretrained-TA-model
pretrained-jointly-TA-model
pretrained-CL_jointly-TA-model
pretrained-CL_jointly-TA-model_zero
pretrained-CL_jointly-TAP-model
pretrained-CL_jointly-TAP-model_zero
pretrained-TAP-model
pretrained-jointly-TP-model
pretrained-CL_jointly-TAP-model
pretrained-CL_jointly-TAP-model_limited
no-ddp_pretrained-T-model
dp_pretrained-T-model
result_analysis
pretrained-model
pretrained-model

data/zh/AIDATATANG/audio-feature
data/zh/AISHELL-1
data/zh/MAGICDATA
data/en/

other-audio_feature
pretrained-model/zh/phoneme_model/*.bin
pretrained-model/en/BART/*.bin
pretrained-model/zh/BART/*.bin

# data/zh/AIDATATANG
data/zh/MAGICDATA
bash_trainer.sh

data/zh/AISHELL-1/audio-feature/wav2vec_feature.h5
data/zh/AIDATATANG/audio-feature/wav2vec_feature.h5
aishell_wav2vec_feature.h5


